<div class="splash page">
  <h1 class="title">Wine Taster App</h1>
  <image src='https://www.pngitem.com/pimgs/m/84-842880_wine-glass-and-bottle-clipart-wine-bottle-clipart.png'/>
  <p>Let's try a a new wine!</p>
  <a href="/profile/1">Log In</a>
</div>
