<div class="profile page">
  <h1 class="title">Profile</h1>
  <div class="user">
    <image src="https://st.depositphotos.com/1431107/4300/v/600/depositphotos_43004833-stock-illustration-unknown-person.jpg"/>
    <p>Name: <%= @user.first_name %> <%=@user.last_name %></p>
    <p>DOB: <%= @user.dob %> </p>
    <h2>Your Reviews</h2>
    <p>You haven't written any reviews</p>
  </div>
</div>

